<footer class="footer">
            <nav>
                <ul class="footerItems">
                    <li class="footerItem"><a href="https://webpages.charlotte.edu/ssanakka" target="_blank">Webspace</a></li>
                    <li class="footerItem">|</li>
                    <li class="footerItem"><a href="https://github.com/ssanakka" target="_blank">GitHub.com</a></li>
                    <li class="footerItem">|</li>
                    <li class="footerItem"><a href="https://ssanakka.github.io" target="_blank">GitHub.io</a></li>
                    <li class="footerItem">|</li>
                    <li class="footerItem"><a href="https://ssanakka.github.io/courseid">Course.io</a></li>
                    <li class="footerItem">|</li>
                    <li class="footerItem"><a href="https://www.freecodecamp.org/sumanthsanakkayala" target="_blank">FreeCodeCamp</a></li>
                    <li class="footerItem">|</li>
                    <li class="footerItem"><a href="https://www.codecademy.com/profiles/ssanakka" target="_blank">Codecademy</a></li>
                    <li class="footerItem">|</li>
                    <li class="footerItem"><a href="https://www.linkedin.com/in/sumanthsanakkayala" target="_blank">Linkedin</a></li>
                </ul>
            </nav>
            <p class="copyright">&copy; 2025 Designed by <a href="./sanakkayalaenterprise.co">Sanakkayala Enterprise</a>, All Rights Reserved</p>

            <!-- Validation Links -->
            <div style="margin-top: 20px; text-align: center;">
                <a href="#" id="validation_link_html">Validate HTML</a> | 
                <a href="#" id="validation_link_css">Validate CSS</a>
            </div>

            <script>
            // This script makes validation links work
            document.getElementById("validation_link_html").href = "https://validator.w3.org/check?uri=" + location.href;
            document.getElementById("validation_link_css").href = "https://jigsaw.w3.org/validator/validator?uri=" + location.href;
            </script>
        </footer>
