            <nav>
                <ul class="nav-items">
                    <li class="nav-item"><a href="../index.html">Home</a></li>
                    <li class="nav-item">|</li>
                    <li class="nav-item"><a href="./introduction.html">Introduction</a></li>
                    <li class="nav-item">|</li>
                    <li class="nav-item"><a href="./contract.html">Contract</a></li>
                    <li class="nav-item">|</li>
                    <li class="nav-item"><a href="./website_evaluations.html">Website Evaluations</a></li>
                    <li class="nav-item">|</li>
                    <li class="nav-item"><a href="./fccfsjs_outline.html">FCC Outline</a></li>
                </ul>
            </nav>