:root {
    --mainBackgroundColor: #f0ead5;
    --mainButtonColor: #00ADB5;
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    scrollbar-width: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body {
    background-color: var(--mainBackgroundColor);
    color: #00235a;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background-color: var(--mainButtonColor);
    color: #ffffff;
    border-radius: 20px;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: #008E91;
}

a{
    text-decoration: none;
    color: #ff0080;
    font-weight: bold;
}

a:hover {
    color: #008E91;
}

.container {
    height: 100%;
    display: flex;
}

ul {
    list-style: none;
}

#rootTop {
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid gray;
    padding: 3em 0;
}

#mainTop {
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid gray;
    padding: 1.4% 0;
}

.mainLink {
    text-align: center;
    margin-top: 8%;
}

.navItems {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding: 1.4% 0;
}
.navItem:nth-child(odd) {
    display: inline-block;
    width: auto;
    margin: 0px 28px;
}
.navItem:nth-child(even) {
    margin: 0px 0;
    width: 8px;
}

.footerItems {
    padding: .8rem 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-align: center;
    white-space: nowrap;
    flex-wrap: wrap;
}
.footerItem:nth-child(odd){
    display: inline-block;
    width: auto;
    margin: 6px 0;
}
.footerItem:nth-child(even){
    width: 2px;
    margin: 6px 8px;
}

.secondTitle {
    margin-top: 1%;
}

.middleArea {
    padding: 11% 0;
    text-align: center;
}
.middleArea p {
    margin-top: .6rem;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
}


.aboutHeaders {
    text-align: center;
    margin-top: 4%;
}
.aboutMeSection p {
    margin-top: 1%;
    padding: 0 30%;
}
.aboutMeSection figcaption {
    text-align: center;
}
.aboutMeSection img {
    display: block;
    width: 60%;
    height: 60%;
    margin: auto;
    max-width: 300px;
    max-height: 380px;
}

.contractInfo{
    padding: 0 24%;
}