:root {
    --mainBackgroundColor: #1E1E2F;
    --mainButtonColor: #00ADB5;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

html,
body {
    height: 100%;
    scrollbar-width: none;
}

body {
    background-color: var(--mainBackgroundColor);
    color: #ffffff;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background-color: var(--mainButtonColor);
    color: #ffffff;
    border-radius: 20px;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: #008E91;
}

a{
    text-decoration: none;
    color: #8D37D4;
    font-weight: bold;
}

a:hover {
    color: #008E91;
}

input {
    outline: none;
}

input:focus {
    outline: none;
}

textarea {
    outline: none;
}

textarea:focus {
    outline: none;
}

.container {
    height: 100%;
    display: flex;
}